* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  position: relative;
}

/* styles are mobile first by design */
/* ------------------------ */
/* primitive styles */
.center {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}

.flex {
  display: flex;
}

/* ------------------------ */
/* stickers section styles */
.stickers__section {
  padding: 0 0.2rem;
  justify-content: space-between;
  align-items: center;
  background: #ebebeb;
  border-top: 2px solid black;
  height: 10vh;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  cursor: auto;

  z-index: 1;
}

.stickers {
  width: 50%;
  justify-content: space-between;
}

.stickers li {
  list-style: none;
  padding: 0.2rem;
  font-size: 1rem;
  border-radius: 0.2rem;

  cursor: pointer;
}

.stickers li:hover {
  background: #d1d6da;
}

/* ------------------------ */
/* toolbar menu */
.toolbar__menu,
.stickers {
  padding: 0.4rem;
  justify-content: space-between;
  background: #fdfdfd;
  border: 1px solid #dfdfe0;
  border-radius: 0.5rem;
  list-style: none;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.12), 0px 2px 3px rgba(0, 0, 0, 0.24),
    0px 2px 6px rgba(0, 0, 0, 0.1), inset 0px 0px 0px 1px #fff;
}

.toolbar__menu {
  width: 30%;
}

.toolbar__menu * {
  padding: 0.2rem;
  font-size: 1rem;
  color: #3a3434;
}

.toolbar__menu *.active {
  background: #2f80ed;
  border-radius: 0.5rem;
}

.toolbar__menu *.active i {
  color: #fff;
}

.select__sticker,
.handle__sticker,
.remove__sticker.active {
  cursor: pointer;
}

.select__sticker:hover,
.handle__sticker:hover,
.remove__sticker.active:hover {
  background: #d1d6da;
}

.toolbar__menu .remove__sticker {
  opacity: 0.3;
}

.remove__sticker.active {
  opacity: 1;
}

/* ------------------------ */
/* custom sticker upload */
#custom-sticker-upload {
  width: 10%;
  font-size: 0;
  cursor: pointer;
}

#custom-sticker-upload::file-selector-button {
  padding: 0em;
  border: thin solid grey;
}

#custom-sticker-upload:before {
  border-radius: 0.5rem;
  content: '📤';
  font-size: 2rem;
}

body img {
  width: 1.5rem;
  height: 1.5rem;
}

/* ------------------------ */
/* board sticker */
.moving__sticker,
.stamped__sticker {
  position: absolute;
  list-style: none;
  font-size: 1.2rem;
}

/* ------------------------ */
/* media queries */
/* for bigger screen devices */
@media screen and (min-width: 700px) {
  .stickers__section {
    height: 12vh;
  }

  .stickers {
    width: 25%;
  }
  .stickers li {
    font-size: 1.3rem;
    padding: 0.4rem;
  }

  .toolbar__menu {
    width: 20%;
  }

  .toolbar__menu * {
    font-size: 1.2rem;
    padding: 0.4rem;
  }
}
